*{
    margin: 0;
    padding: 0;
}

#banner{
    background-image: url(../assets/Hero-bg.png);
    background-size: contain;
    /* height: 365px; */
    /* width: 862px; ; */
}
.banner-content{
   padding: 26px 221px 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-img{
    height: 240.5px;
    width: 240px;
}
.banner-content h1{
    font-size: 48px;
    text-align: center;
    margin: 32px 0 24px 0;
}
.banner-content p{
font-size: 16px;
text-align: center;
opacity: 0.7;
margin-bottom: 32px;
}
.banner-content button{
    background-color: black;
    border: none;
    border-radius: 8px;
    padding: 21px 24px;
}
.banner-content button a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
#why-development{
    margin: 75px 150px;
    border-radius: 16px;
    padding: 80px 97px;
    background: rgba(13, 19, 33, 0.02);
    display: flex;
    flex-direction: column;
    justify-content: start;
}
#why-development .card-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    /* padding: 0px; */
}
#why-development .card-header h1{
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}
#why-development .card-header p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-bottom: 48px;
    opacity: 0.7;
}
 .card{
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    margin-bottom: 32px;
    padding: 48px;  
}
#why-development .card .card-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 78px 16px 0;
}
#why-development .card .card-text h1{
    font-size: 24px;
    text-align: left;
    margin-bottom: 16px;
}
#why-development .card .card-text p{
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    opacity: 0.7;
    /* margin-bottom: 32px; */
}
#why-development .card button{
    padding: 12px 20px;
    margin-top: 32px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}

#why-development .card button>a{
    text-decoration: none;
    color: rgb(13, 19, 33);
    font-size: 20px;
    text-align: center;
}
#img-2{
    margin-right: 32px;
}
#my-inspiration{
    margin: 88px 152px 150px 148px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.my-inspiration-heading{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* margin: 0 144px; */
}
.my-inspiration-heading h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    text-align: center;
    margin-bottom: 24px;
}
.my-inspiration-heading p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 48px;
}
.my-inspiration-video{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
}
.my-inspiration-video iframe{
    border-radius: 16px;
}
#my-next-target{
    margin: 150px;

    align-items: center;
    padding: 0px;
}
.my-next-target-heading{
    margin: 0 97px 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.my-next-target-heading h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}
.my-next-target-heading p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
}
.my-next-target-skill-container{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}
.my-next-target-skills{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
    margin: 0 24px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.my-next-target-skills h1{
    margin: 24px 0 8px;
    font-weight: 800;
    text-align: left;
}
.my-next-target-skills p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 24px;
}
.my-next-target-skills a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
}
#i-need-support{
    margin: 44px 150px 80px 150px;
    padding: 64px 48px;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);
    background-image: url(../assets/handshake.jpg);
    border-radius: 16px;
    background-size: cover;
    background-position: center;
}
#i-need-support h1{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}
#i-need-support p{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 16px 0 24px 0;
}
#i-need-support .form-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#i-need-support #feedback{
    margin-top: 48px;
    padding: 19px 20px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
}
#i-need-support .submission{
    margin: 0px 16px;
    padding: 17px 20px 17px 20px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: 1px solid white;
}

#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 32px 150px 32px 150px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}
#footer ul{
    display: flex;
    gap: 25px;
    list-style: none;
}